html{
    @media screen and (max-width:1440px)
     {
        
    }
}
body{
    background: hsl(0, 33%, 96%) url(bg-intro-desktop.png);
}
main {
    background:hsl(0, 100%, 74%)  url(bg-intro-desktop.png);
    color: #fff;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

}
main {
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

.left {
    flex: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1;

}

.right {
    flex: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1;

}